
  <style> @import url('https://fonts.googleapis.com/css?family=Farro:400,700&display=swap'); </style>
  <style> .gps-510042312349319994 .gp-relative{position:relative}.gps-510042312349319994 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-510042312349319994 .gp-mb-0{margin-bottom:0}.gps-510042312349319994 .gp-flex{display:flex}.gps-510042312349319994 .gp-grid{display:grid}.gps-510042312349319994 .\!gp-hidden{display:none!important}.gps-510042312349319994 .gp-hidden{display:none}.gps-510042312349319994 .gp-max-w-full{max-width:100%}.gps-510042312349319994 .gp-flex-col{flex-direction:column}.gps-510042312349319994 .gp-gap-y-0{row-gap:0}.gps-510042312349319994 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-510042312349319994 .gp-duration-200{transition-duration:.2s}.gps-510042312349319994 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-510042312349319994 .tablet\:\!gp-hidden{display:none!important}.gps-510042312349319994 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-510042312349319994 .mobile\:\!gp-hidden{display:none!important}.gps-510042312349319994 .mobile\:gp-hidden{display:none}}.gps-510042312349319994 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-510042312349319994 .\[\&_p\]\:gp-inline p{display:inline}.gps-510042312349319994 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-510042312349319994 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gDPebYbLKi"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDPebYbLKi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCdbk-K_Qy gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g-dXHNCS9z "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-xl);--pb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:180%;--size:14px;--size-tablet:16px;--size-mobile:14px;--c:rgba(255, 255, 255, 0.6);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p><a href="https://lexgo-digital.notion.site/Privacy-Policy-1-82ce771a493e436ca4e763be98784f17">Privacy Policy</a></p></div>
      </div>
    </div>
      <style
        id="custom-css-g-dXHNCS9z"
      >.g-dXHNCS9z * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-510042312349319994 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=510042312349319994)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
