
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400|Farro:400,700|Assistant:400&display=swap'); </style>
  <style> .gps-509590835201901741 .gp-invisible{visibility:hidden}.gps-509590835201901741 .gp-absolute{position:absolute}.gps-509590835201901741 .gp-relative{position:relative}.gps-509590835201901741 .gp-z-1{z-index:1}.gps-509590835201901741 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509590835201901741 .gp-mb-0{margin-bottom:0}.gps-509590835201901741 .gp-flex{display:flex}.gps-509590835201901741 .gp-inline-flex{display:inline-flex}.gps-509590835201901741 .gp-grid{display:grid}.gps-509590835201901741 .\!gp-hidden{display:none!important}.gps-509590835201901741 .gp-hidden{display:none}.gps-509590835201901741 .gp-h-5{height:20px}.gps-509590835201901741 .gp-h-full{height:100%}.gps-509590835201901741 .gp-w-5{width:20px}.gps-509590835201901741 .gp-max-w-full{max-width:100%}.gps-509590835201901741 .gp-flex-col{flex-direction:column}.gps-509590835201901741 .gp-items-center{align-items:center}.gps-509590835201901741 .gp-justify-center{justify-content:center}.gps-509590835201901741 .gp-gap-y-0{row-gap:0}.gps-509590835201901741 .gp-overflow-hidden{overflow:hidden}.gps-509590835201901741 .gp-break-words{overflow-wrap:break-word}.gps-509590835201901741 .gp-rounded-none{border-radius:0}.gps-509590835201901741 .gp-no-underline{text-decoration-line:none}.gps-509590835201901741 .gp-opacity-25{opacity:.25}.gps-509590835201901741 .gp-opacity-75{opacity:.75}.gps-509590835201901741 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509590835201901741 .gp-duration-200{transition-duration:.2s}.gps-509590835201901741 .gp-duration-300{transition-duration:.3s}.gps-509590835201901741 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509590835201901741 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-509590835201901741 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509590835201901741 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509590835201901741 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509590835201901741 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509590835201901741 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509590835201901741 .tablet\:\!gp-hidden{display:none!important}.gps-509590835201901741 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509590835201901741 .mobile\:\!gp-hidden{display:none!important}.gps-509590835201901741 .mobile\:gp-hidden{display:none}}.gps-509590835201901741 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509590835201901741 .\[\&_p\]\:gp-inline p{display:inline}.gps-509590835201901741 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509590835201901741 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509590835201901741 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjVyodm-50"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjVyodm-50 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwZnr0yKwO gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g_4dz5nzDl"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:80px;--pl:46px;--pb:100px;--pr:var(--g-s-3xl);--pt-mobile:var(--g-s-3xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-3xl);--pr-mobile:var(--g-s-l);--pt-tablet:60px;--pl-tablet:var(--g-s-s);--pb-tablet:80px;--pr-tablet:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_4dz5nzDl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g76Cn6ensb gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gcAtTZxPeT "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:var(--g-s-3xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:70px;--size-tablet:56px;--size-mobile:40px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >Schedule</h2>
      </div>
    </div>
      <style
        id="custom-css-gcAtTZxPeT"
      >.gcAtTZxPeT * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="ghS1l3P8WV "
        style="--ta:center;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-3xl);--mb-tablet:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:80%;--w-tablet:80%;--w-mobile:80%;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:120%;--size:36px;--size-tablet:28px;--size-mobile:20px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>4 weeks, April 22 - May 19</p></div>
      </div>
    </div>
      <style
        id="custom-css-ghS1l3P8WV"
      >.ghS1l3P8WV * {
font-family: FaroDisplayVariableTrial !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gjJxoUCPuh"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:16px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjJxoUCPuh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gnPBr4BCco gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gAHo2OtKQv"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:var(--g-s-l);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--ml-mobile:auto;--mb-mobile:var(--g-s-xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAHo2OtKQv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtXHS4eKAu gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gRk-72DdCd "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-s);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-xl);--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:40px;--size-tablet:40px;--size-mobile:30px;--c:#F4D88E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >Every week routine:</h2>
      </div>
    </div>
      <style
        id="custom-css-gRk-72DdCd"
      >.gRk-72DdCd * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gQ7qJu-JRq "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:180%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#F4D88E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;overflow:hidden"
        ><p>✓ 1 Live workshop with Miss English Teacher</p><p>✓ 1 Speaking Session</p><p>✓ Curated Daily Activities</p></div>
      </div>
    </div>
      <style
        id="custom-css-gQ7qJu-JRq"
      >.gQ7qJu-JRq {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gAHo2OtKQv"
      >.gAHo2OtKQv {
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g-j1XAkd6C gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g57FgwMAFW"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:var(--g-s-l);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--ml-mobile:auto;--mb-mobile:0px;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g57FgwMAFW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxpfPVy-5T gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gT0CXn-zcb "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-s);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-xl);--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:40px;--size-tablet:40px;--size-mobile:30px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >Live workshop with Miss English Teacher</h2>
      </div>
    </div>
      <style
        id="custom-css-gT0CXn-zcb"
      >.gT0CXn-zcb * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="g8Dz47CLj- "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden"
        ><p><span style="background-color:#2A1C3F;color:#F7F7F7;">Mondays, 7 pm CEST&nbsp;</span></p><p>Weekly thematic talks by Miss English Teacher.</p><p>Can’t make it live? Watch later at any time!</p></div>
      </div>
    </div>
      <style
        id="custom-css-g8Dz47CLj-"
      >.g8Dz47CLj- {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-g57FgwMAFW"
      >.g57FgwMAFW {
     transform: rotate(-1deg);
}</style>
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gLA05zZDPC"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:16px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLA05zZDPC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g4C9eyFENh gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJ4vw6m7qt"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:var(--g-s-l);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-3xl);--pr:var(--g-s-2xl);--ml-mobile:auto;--mb-mobile:var(--g-s-l);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJ4vw6m7qt gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gL_X3iAsVD gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_yXzKnSDo "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-s);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-xl);--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:40px;--size-tablet:40px;--size-mobile:30px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >Speaking sessions</h2>
      </div>
    </div>
      <style
        id="custom-css-g_yXzKnSDo"
      >.g_yXzKnSDo * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="gi4oYNziXM "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden"
        ><p>(Time to be announced)</p><p>3 sessions with a Native Teacher</p><p>Bonus session with Miss English Teacher</p></div>
      </div>
    </div>
      <style
        id="custom-css-gi4oYNziXM"
      >.gi4oYNziXM {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gJ4vw6m7qt"
      >.gJ4vw6m7qt {
     transform: rotate(1deg);
}</style>
    
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gKh_ZAzobM gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gb36dDTgWF"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:var(--g-s-l);--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:48px;--pr:var(--g-s-2xl);--ml-mobile:auto;--mb-mobile:var(--g-s-l);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:700px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gb36dDTgWF gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnjqOGahl_ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gO8i9M3lOQ "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-s);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-xl);--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:120%;--size:40px;--size-tablet:40px;--size-mobile:30px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;overflow:hidden"
        >Daily Activities</h2>
      </div>
    </div>
      <style
        id="custom-css-gO8i9M3lOQ"
      >.gO8i9M3lOQ * {
font-family: PPAcma-Black !important;
}</style>
    
    <div
      parentTag="Col"
        class="g82gQ7A3I- "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Farro, 'Farro'), var(--g-font-body, body);--weight:400;--lh:150%;--size:18px;--size-tablet:16px;--size-mobile:16px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden"
        ><p>Every day during the course</p><p>Take small steps towards success with my 21-day custom Workbook. Make daily tasks and get help from the group curator.</p></div>
      </div>
    </div>
      <style
        id="custom-css-g82gQ7A3I-"
      >.g82gQ7A3I- {

}</style>
    
    </div>
    </div>
  
    
      <style
        id="custom-css-gb36dDTgWF"
      >.gb36dDTgWF {
     transform: rotate(0deg);
}</style>
    
    </div>
    </div>
  
    
  <gp-button style="">
  <div
    
    style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:var(--g-s-3xl);--mr:0px;--pr:0px;--mt-mobile:0px;--mr-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:center"
    class=""
  >
    <style>
    .gfedjBoJyv.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
      border-top-left-radius: 60px;
      border-top-right-radius: 60px;
      
    }

    .gfedjBoJyv:hover::before {
      
      
    }
  </style>
    <a
      href="https://22a886-0f.myshopify.com/cart/47874859237706:1?channel=buy_button" target="_blank" data-id="gfedjBoJyv" aria-label="Buy Now for €199"
      
      data-state="idle"
      class="gfedjBoJyv gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:rgba(40, 27, 60, 0.8);--bg:#281B3C;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--shadow:none;--c:#F4D88E;--w:250px;--w-tablet:250px;--w-mobile:250px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:260%;--size:20px;--size-tablet:16px;--size-mobile:18px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Buy Now for €199
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509590835201901741 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509590835201901741)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
