
  
  <style> .gps-509590835218678957 .gp-relative{position:relative}.gps-509590835218678957 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509590835218678957 .gp-mb-0{margin-bottom:0}.gps-509590835218678957 .gp-flex{display:flex}.gps-509590835218678957 .gp-grid{display:grid}.gps-509590835218678957 .\!gp-hidden{display:none!important}.gps-509590835218678957 .gp-hidden{display:none}.gps-509590835218678957 .gp-max-w-full{max-width:100%}.gps-509590835218678957 .gp-flex-col{flex-direction:column}.gps-509590835218678957 .gp-gap-y-0{row-gap:0}.gps-509590835218678957 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509590835218678957 .gp-duration-200{transition-duration:.2s}.gps-509590835218678957 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509590835218678957 .tablet\:\!gp-hidden{display:none!important}.gps-509590835218678957 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509590835218678957 .mobile\:\!gp-hidden{display:none!important}.gps-509590835218678957 .mobile\:gp-hidden{display:none}}.gps-509590835218678957 .\[\&_\*\]\:gp-max-w-full *{max-width:100%} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gH69oaODf_"
        style="--pt:0px;--pb:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gH69oaODf_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start;--d-mobile:none"
      class="g8f4JIm4Fx gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509590835218678957 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509590835218678957)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
