
  <style> @import url('https://fonts.googleapis.com/css?family=Acme:400|Assistant:400&display=swap'); </style>
  <style> .gps-509744356459021485 .gp-relative{position:relative}.gps-509744356459021485 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509744356459021485 .gp-mb-0{margin-bottom:0}.gps-509744356459021485 .gp-flex{display:flex}.gps-509744356459021485 .gp-grid{display:grid}.gps-509744356459021485 .\!gp-hidden{display:none!important}.gps-509744356459021485 .gp-hidden{display:none}.gps-509744356459021485 .gp-max-w-full{max-width:100%}.gps-509744356459021485 .gp-flex-col{flex-direction:column}.gps-509744356459021485 .gp-gap-y-0{row-gap:0}.gps-509744356459021485 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509744356459021485 .gp-duration-200{transition-duration:.2s}.gps-509744356459021485 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-509744356459021485 .tablet\:\!gp-hidden{display:none!important}.gps-509744356459021485 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509744356459021485 .mobile\:\!gp-hidden{display:none!important}.gps-509744356459021485 .mobile\:gp-hidden{display:none}}.gps-509744356459021485 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509744356459021485 .\[\&_p\]\:gp-inline p{display:inline}.gps-509744356459021485 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509744356459021485 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gdWCwCB6y3"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-s);--pl:var(--g-s-l);--pb:var(--g-s-s);--pr:var(--g-s-l);--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--pt-tablet:8px;--pl-tablet:var(--g-s-l);--pb-tablet:8px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#281B3C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdWCwCB6y3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpQXI4yIen gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTzehugZey"
        style="--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:24px;--bbrr:24px;--btlr:24px;--btrr:24px;--pt:var(--g-s-4xl);--pl:var(--g-s-3xl);--pb:120px;--pr:var(--g-s-3xl);--mb-mobile:0px;--pt-mobile:60px;--pl-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-4xl);--pr-mobile:var(--g-s-3xl);--mb-tablet:0px;--pt-tablet:60px;--pl-tablet:var(--g-s-3xl);--pb-tablet:80px;--pr-tablet:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTzehugZey gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gawlqEkJjQ gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6HkGHFZ7l "
        style="--ta:left;--animation:[object Object];--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--mb:31px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:var(--g-s-l);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--ff:var(--g-font-Acme, 'Acme'), var(--g-font-heading, heading);--weight:400;--ls:0px;--lh:130%;--size:70px;--size-tablet:56px;--size-mobile:30px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;overflow:hidden"
        >You want</h2>
      </div>
    </div>
      <style
        id="custom-css-g6HkGHFZ7l"
      >.g6HkGHFZ7l * {
font-family: PPAcma-Black !important;
}</style>
    
      
      
    <div
      parentTag="Col" id="gyyPeqn97Z"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:450px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyyPeqn97Z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gbFO8aLQpG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g4aFs_8vHL"
        style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#281B3C;--bw:2px 2px 2px 2px;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--hasBoxShadow:true;--shadow:-0.10471443862370086px 5.999086170938348px 0px 0px #281B3C;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4aFs_8vHL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gff383Ghl2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g21Sp5LoXb "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:180%;--size:24px;--size-tablet:16px;--size-mobile:14px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>✓ Prompt replies</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-g4aFs_8vHL"
      >.g4aFs_8vHL {
 transform: rotate(-1deg);
}</style>
    
      
      
    <div
      parentTag="Col" id="g41J9LlAQ3"
        style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#281B3C;--bw:2px 2px 2px 2px;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--hasBoxShadow:true;--shadow:-0.10471443862370086px 5.999086170938348px 0px 0px #281B3C;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F4D88E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g41J9LlAQ3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g0-jYyVqD2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_Bc-pND8M "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:180%;--size:24px;--size-tablet:16px;--size-mobile:14px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>✓ Good conversations</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gVY-Q8vnG2"
        style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#281B3C;--bw:2px 2px 2px 2px;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--hasBoxShadow:true;--shadow:-0.10471443862370086px 5.999086170938348px 0px 0px #281B3C;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ADCDEA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVY-Q8vnG2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gypubqKF8- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g8vm1w6nQj "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:180%;--size:24px;--size-tablet:16px;--size-mobile:14px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>✓ Warm meetups</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-gVY-Q8vnG2"
      >.gVY-Q8vnG2 {
 transform: rotate(1deg);
}</style>
    
      
      
    <div
      parentTag="Col" id="g5c72mvcWE"
        style="--mb:var(--g-s-l);--pt:var(--g-s-l);--pb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#281B3C;--bw:2px 2px 2px 2px;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--hasBoxShadow:true;--shadow:-0.10471443862370086px 5.999086170938348px 0px 0px #281B3C;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#EDBDDA;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5c72mvcWE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gQKDP-h2HA gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g1k-OVSdo0 "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:180%;--size:24px;--size-tablet:16px;--size-mobile:14px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>✓ To make first contact in English</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
      <style
        id="custom-css-g5c72mvcWE"
      >.g5c72mvcWE {
 transform: rotate(-1deg);
}</style>
    
      
      
    <div
      parentTag="Col" id="gdJ_5_oW3r"
        style="--pt:var(--g-s-l);--pb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#281B3C;--bw:2px 2px 2px 2px;--bblr:60px;--bbrr:60px;--btlr:60px;--btrr:60px;--hasBoxShadow:true;--shadow:-0.10471443862370086px 5.999086170938348px 0px 0px #281B3C;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F4D88E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gdJ_5_oW3r gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="g35EUQ2Sty gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gbzssEr2dT "
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Assistant, 'Assistant'), var(--g-font-body, body);--weight:400;--lh:180%;--size:24px;--size-tablet:16px;--size-mobile:14px;--c:#281B3C;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>✓ Wonderful dates</p></div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 0",
      "tag": "section",
      "class": "gps-509744356459021485 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/22a886-0f/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=509590835017286829&sectionId=509744356459021485)"
        },
        {
          "type": "text",
          "label": "section_preload",
          "id": "section_preload",
          "default": "false"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
